
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
    <title>SignUp</title>
</head>
<body style="background-image: url('../../media/signup_cover.jpg'); background-size:cover; background-repeat: no-repeat;">
    <form>
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto flex flex-wrap">
                <div class="lg:w-2/6 md:w-1/2 rounded-lg p-6 flex flex-col md:ml-auto w-full mt-10 md:mt-0" style="background:transparent;">
                    <h2 class="text-red-800 text-2xl font-medium title-font mb-5"><strong>Sign Up</strong></h2>
                    <div class="relative mb-4">
                        <label for="full-name" class="leading-7 text-sm text-red-400">Name</label>
                        <input required type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative mb-4">
                        <label for="dob" class="leading-7 text-sm text-red-400">Date of Birth</label>
                        <input required type="date" id="dob" name="dob" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative mb-4">
                        <label for="email" class="leading-7 text-sm text-red-400">Email Address</label>
                        <input required type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative mb-4">
                        <label for="password" class="leading-7 text-sm text-red-400">Password</label>
                        <input required type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative mb-4">
                        <label for="password" class="leading-7 text-sm text-red-400">Confirm Password</label>
                        <input required type="password" id="confirmPassword" name="confirmPassword" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <label class="checkbox-inline text-red-700" for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0">
                        &emsp;I Agree to the Terms & Conditions of DUKO-Wheels.
                    </label>
                    <br>
                    <button type="submit" class="text-white border-0 py-2 px-8 focus:outline-none bg-gradient-to-r from-red-600 to-red-700 hover:from-red-700 hover:to-red-800 rounded text-lg">Register</button>
                </div>
            </div>
        </section>
    </form>
</body>
</html>
